body
  margin: 0
  padding: 0

div
  box-sizing: border-box

//----------
// Flex class
//----------

.d-flex
  display: flex !important

.d-inl-flex
  display: inline-flex !important

.flex-wrap
  flex-wrap: wrap !important

.row
  display: flex !important
  flex-wrap: wrap !important
  margin-left: -15px !important
  margin-right: -15px !important

.flex-column
  flex-direction: column !important

.no-gutters
  margin-right: 0 !important
  margin-left: 0 !important

.justify-content-start
  justify-content: flex-start !important

.justify-content-end
  justify-content: flex-end !important

.justify-content-center
  justify-content: center !important

.justify-content-between
  justify-content: space-between !important

.align-items-start
  align-items: flex-start !important

.align-items-end
  align-items: flex-end !important

.align-items-center
  align-items: center !important
